<!doctype html><html lang="zh-CN"><head><meta charset="utf-8"/><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="referrer" content="origin-when-cross-origin"><link rel="shortcut icon" href="#"/><link rel="icon" href="data:image/ico;base64,aWNv"><title>AR探秘</title><meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"><link href="../../css/views/activity/jiheTanmi.1fb721a5ce98cd2c4280.css" rel="stylesheet"></head><body><div id="app"></div><div class="hidden" style="display: none"><script type="text/javascript">var images = new Array()
            function preload() {
                for (i = 0; i < preload.arguments.length; i++) {
                    images[i] = new Image()
                    images[i].src = preload.arguments[i]
                }
            }
            preload(
                "https://qrmkt.oss-cn-beijing.aliyuncs.com/common/jihe/component/rolling.gif",
                "https://qrmkt.oss-cn-beijing.aliyuncs.com/common/jihe/component/pt-img-bg.png",
                "https://qrmkt.oss-cn-beijing.aliyuncs.com/common/jihe/component/get-award-btn.png",
                "https://qrmkt.oss-cn-beijing.aliyuncs.com/common/jihe/component/awdType1-bg.png",
                "https://qrmkt.oss-cn-beijing.aliyuncs.com/common/jihe/component/awdType3-bg.png",
                "https://qrmkt.oss-cn-beijing.aliyuncs.com/common/jihe/component/awdType6-bg.png",
                "https://qrmkt.oss-cn-beijing.aliyuncs.com/common/jihe/component/no-award-bg.png",
                "https://qrmkt.oss-cn-beijing.aliyuncs.com/common/jihe/component/ok-btn.png",
                "https://qrmkt.oss-cn-beijing.aliyuncs.com/common/jihe/hx/bg-1001.jpg",
                "https://qrmkt.oss-cn-beijing.aliyuncs.com/common/jihe/hx/bg-1002.jpg",
                "https://qrmkt.oss-cn-beijing.aliyuncs.com/common/jihe/hx/bg-1003.jpg",
                "https://qrmkt.oss-cn-beijing.aliyuncs.com/common/jihe/hx/bg-1004.jpg",
            )</script></div><script src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script><script src="https://qrmkt.oss-cn-beijing.aliyuncs.com/common/WeixinJSBridge.js"></script><script type="text/javascript" src="../../js/manifest.d357293bab5002323d92.js"></script><script type="text/javascript" src="../../js/vendor.5ce4138d5a19adaf8db4.js"></script><script type="text/javascript" src="../../js/views/activity/jiheTanmi.34269cd5f7dbd154bc36.js"></script></body></html>