<!doctype html><html lang="zh-CN"><head><meta charset="utf-8"/><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="referrer" content="never"><title>语音识别</title><meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"><style>html{overflow: auto!important;}
        body{overflow: auto!important;}
        *{
            -webkit-touch-callout:none;
            -webkit-user-select:none;
            -khtml-user-select:none;
            -moz-user-select:none;
            -ms-user-select:none;
            user-select:none;
        }
        input , texteare{
            -webkit-user-select:auto;
        }</style><link href="../../css/views/activity/kangyi.7965226c323a5b0d3611.css" rel="stylesheet"></head><body><div id="app"></div><script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script><script src="https://qrmkt.oss-cn-beijing.aliyuncs.com/common/WeixinJSBridge.js"></script><script type="text/javascript" src="../../js/manifest.d357293bab5002323d92.js"></script><script type="text/javascript" src="../../js/vendor.6c5dea2c1fe68922d027.js"></script><script type="text/javascript" src="../../js/views/activity/kangyi.2f7a87f66f9b28ca5f9e.js"></script></body></html>