<!doctype html><html lang="zh-CN"><head><meta charset="utf-8"/><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="referrer" content="never"><title>钻石PK场</title><meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"><style>*{
            -webkit-touch-callout:none;
            -webkit-user-select:none;
            -khtml-user-select:none;
            -moz-user-select:none;
            -ms-user-select:none;
            user-select:none;
        }
        input , texteare{
            -webkit-user-select:auto;
        }
        .parkour .award{margin-top: 1rem!important;}</style><link href="../../css/views/activity/memberDayParkour.4c97e1ed1a177372b2cb.css" rel="stylesheet"></head><body><div id="app"></div><div class="hidden" style="display: none"><script type="text/javascript"><!--//--><![CDATA[//><!--
            var images = new Array()
            function preload() {
                for (i = 0; i < preload.arguments.length; i++) {
                    images[i] = new Image()
                    images[i].src = preload.arguments[i]
                }
            }
            preload(
                "https://qrmkt.oss-cn-beijing.aliyuncs.com/common/memberDay/packour/renyd1.png",
                "https://qrmkt.oss-cn-beijing.aliyuncs.com/common/memberDay/packour/renyd2.png",
                "https://qrmkt.oss-cn-beijing.aliyuncs.com/common/memberDay/packour/street1.png",
                "https://qrmkt.oss-cn-beijing.aliyuncs.com/common/memberDay/packour/street2.png",
                "https://qrmkt.oss-cn-beijing.aliyuncs.com/common/memberDay/packour/street3.png",
                "https://qrmkt.oss-cn-beijing.aliyuncs.com/common/memberDay/packour/bg2.png",
                "https://qrmkt.oss-cn-beijing.aliyuncs.com/common/memberDay/packour/1.png",
                "https://qrmkt.oss-cn-beijing.aliyuncs.com/common/memberDay/packour/2.png",
                "https://qrmkt.oss-cn-beijing.aliyuncs.com/common/memberDay/packour/3.png",
                "https://qrmkt.oss-cn-beijing.aliyuncs.com/common/memberDay/packour/go.png",
                "https://qrmkt.oss-cn-beijing.aliyuncs.com/common/memberDay/packour/dj-1.png",
                "https://qrmkt.oss-cn-beijing.aliyuncs.com/common/memberDay/packour/dj-2.png",
                "https://qrmkt.oss-cn-beijing.aliyuncs.com/common/memberDay/packour/dj-3.png",
                "https://qrmkt.oss-cn-beijing.aliyuncs.com/common/memberDay/packour/dj-4.png",
                "https://qrmkt.oss-cn-beijing.aliyuncs.com/common/memberDay/packour/weilan.png",
                "https://qrmkt.oss-cn-beijing.aliyuncs.com/common/memberDay/packour/logo.png",
                "https://qrmkt.oss-cn-beijing.aliyuncs.com/common/memberDay/packour/jiazaiz.png",
            )
            //--><!]]></script></div><script src="https://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script><script src="https://qrmkt.oss-cn-beijing.aliyuncs.com/common/WeixinJSBridge.js"></script><script type="text/javascript" src="../../js/manifest.d357293bab5002323d92.js"></script><script type="text/javascript" src="../../js/vendor.6c5dea2c1fe68922d027.js"></script><script type="text/javascript" src="../../js/views/activity/memberDayParkour.a868ecf4cfb8bca888eb.js"></script></body></html>