html,
body,
#app {
  height: 100%;
  width: 100%;
  color: #606266;
  margin: 0;
  padding: 0;

  min-width: 1024px;
}

ul,
li,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
}
/* 表格底部分页组件内容统一靠右展示 */
.el-pagination {
  text-align: right;
}
/* 覆盖默认卡片视图的阴影效果 */
.el-card {
  /* margin-top: 15px; */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
}

/* 面包屑下边距 */
.el-breadcrumb {
  margin-bottom: 10px;
}

/* 卡片header样式 可以更改 */
/* .el-card__header {
  padding: 0 10px;
  background: #f5f5f5;
} */

/* 上传图片样式 */
.avatar-uploader .el-upload {
  border: 1px dashed #dcdfe6;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
<<<<<<< HEAD

/* 动态添加tabs按钮 */
.el-tabs__new-tab {
  margin-right: 10px;
}

=======
>>>>>>> master
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}

.ql-container {
  height: 200px;
}

/* 分页靠右 */
.el-pagination {
  text-align: right;
}

.clearfix::after,
.clearfix:before {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0
}

.ml20 {
  margin-left: 20px;
}

.mr20 {
  margin-right: 20px;
}

.mt20 {
  margin-top: 20px;
}

.mb20 {
  margin-bottom: 20px;
<<<<<<< HEAD
=======
}
/** kpi首页样式控制 */
.kpi-page-table .caret-wrapper {
  top: -15px;
}
.mytooltip {
  font-weight: 300;
  max-width: 200px;
  text-align: center;
>>>>>>> master
}