p {
    margin: 0;
}
.require {
    color:red;
    font-size: 16px !important;
    font-weight: bold !important;
}
.tip-text {
    font-size: 12px;
    color:#aaa;
}
.title-info,.not-title {
    label {
        text-align: left;
    }
    p {
        padding: 0 10px 0 10px;
        line-height: 30px;
        border-bottom: 1px solid #eee;
    }
}
.guanzhu-text {
    font-size: 12px;
    margin-top: 21px;
    color:#fff;
}
.img-div {
            width:100px;
            height: 100px;
            border:1px dashed #d9d9d9;
            border-radius: 4px;
            display: inline-block;
            vertical-align: middle;
            background: #fff;
            font-size: 60px;
            text-align: center;
            color:#d9d9d9;
            font-weight: 100;
            p {
                padding-top: 30px;
                border:none;
            }
        }
.yz-info,.bot-info {
    .line {
        height: 20px;
    }
    .edit-con {
        margin-top: 20px;
        background: #efefef;
        padding: 15px 0 15px 15px;
        border-radius: 5px;
    }
    .labels {
        width:80px;
        display: inline-block;
    }
    .color-labels {
        width:100px;
        display: inline-block;
    }
    .img-div {
        img {
            width:90%;
            height: 90%;
            margin-top: 5%;
            object-fit: contain;
        }
    }
    .avatar-uploader {
        display: inline-block;
        vertical-align: middle;
    }
    .color-select {
        vertical-align: middle;
    }
    .note {
        width:75%;
    }
    p {
        line-height: 30px;        
        margin-bottom: 10px;        
    }
    p.info-title {
        border-bottom: 1px solid #eee;
    }
}

.qr-info {

        .labels {
                width:120px;
                display: inline-block;
        }
        .img-div {
            width:100px;
            height: 100px;
            border:1px dashed #d9d9d9;
            border-radius: 4px;
            display: inline-block;
            vertical-align: middle;
            background: #fff;
            font-size: 60px;
            text-align: center;
            color:#d9d9d9;
            font-weight: 100;
            img {
                width:90%;
                height: 90%;
                object-fit: contain;
                margin-top: 5%;
            }
        }
        .avatar-uploader {
            display: inline-block;
            vertical-align: middle;
        }
}
.not-yz-info {
    .back {
        margin: 10px 0 10px 0;
        img {
            width: 100px;
            height: 100px;
            object-fit: contain;
            vertical-align: middle;
        }
        .avatar-uploader {
            display: inline-block;
            vertical-align: middle;
        }
    }
    p {
        padding: 0 10px 0 10px;
        line-height: 30px;
        border-bottom: 1px solid #eee;
        
    }
    .gInput {
        width: 250px;
    }
    
}

.not-qr-info {
    .back {
        margin: 10px 0 10px 0;
        img {
            width: 100px;
            height: 100px;
            object-fit: contain;
            vertical-align: middle;
        }
        .avatar-uploader {
            display: inline-block;
            vertical-align: middle;
        }
    }
    p {
        padding: 0 10px 0 10px;
        line-height: 30px;
        border-bottom: 1px solid #eee;
        
    }
    .gInput {
        width: 250px;
    }
    .name {
        span {
            display: inline-block;
            width:85px;
            text-align: justify;
        }
        
    }
}

.tplInfo {
    padding-top: 20px;
    min-height: 400px;
}
.tpl-name {
    width:300px;
    height: 40px;
}
.filter-item {
    width:300px;
}
.left-name {
    width:100px;
    display: inline-block;
    vertical-align: middle;
}
.clearfix:after {
    content: " ";
    display: block;
    ;
    line-height: 0;
    height: 0;
    visibility: hidden;
    clear: both;
}

.scan-root {
    .pri-btn {
        margin-bottom: 10px;
    }
    .add-tpl,
    .add-part {
        padding: 10px 10px 10px 10px;
        padding-bottom: 60px;
        background: #fff;
        border-radius: 4px;
        color: #666;
        position: relative;
        .backMain {
            font-size: 16px;
            color:#666;
            position: absolute;
            right:40px;
            top:20px;
            cursor: pointer;
        }
    }
    .add-part {
        padding: 20px 20px 60px 50px;
        .title {
            margin-bottom: 20px;
            font-size: 18px;
        }
        .loading-show {
            float: left;
            position: relative;
            img {
                width:300px;
                height: 480px;
                object-fit: cover;
            }
            .loading-box {
                width:120px;
                height: 10px;
                position: absolute;
                top:270px;
                left: 50%;
                transform: translateX(-50%);
                overflow: hidden;
                .inner-box {
                    width:60px;
                    height: 50px;
                    transform: rotateZ(15deg);
                    margin-top: -10px;
                    margin-left: -5px;
                }
            }
        }
        .loading-edit {
            float: left;
            margin-left: 20px;
            width:426px;
            border:1px solid #eee;
            box-shadow: 0 0 3px #ccc;
            margin-top: 5px;
            padding: 0 10px 20px 10px;
            font-size: 14px;
            .title {
                height: 40px;
                line-height: 40px;
                border-bottom: 1px solid #eee;
                font-size: 14px;
            }
            .edit-con {
                margin-top: 20px;
            }
            .labels {
                width:120px;
                display: inline-block;
            }
            .img-div {
                img {
                    width:90%;
                    height: 90%;
                    margin-top: 5%;
                    object-fit: contain;
                }
            }
            .avatar-uploader {
                display: inline-block;
            }
            .color-select {
                vertical-align: middle;
            }
        }
        .has {
            .phone {
                float: left;
                margin-right: 45px;
            }
            .tplInfo {
                float: left;
            }
            .phone-top {
                width: 300px;
                height: 66px;
                background: url(../../../assets/img/phone_top.png) no-repeat center / contain;
                .title {
                    width: 100%;
                    height: 100%;
                    line-height: 85px;
                    text-align: center;
                    color: #fff;
                    position: relative;
                    font-size: 14px;
                }
                .click-tip {
                    position: absolute;
                    width:100%;
                    height: 66px;
                    line-height: 85px;
                    left: 0;
                    top:0;
                    font-size: 14px;
                    text-align: center;
                    text-shadow: 0 0 2px #ccc;
                    .require {
                        vertical-align: middle;
                    }
                }
                .title-click {
                    width: 300px;
                    height: 66px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                    opacity: 0;
                    button {
                        width: 300px;
                        height: 66px;
                    }
                }
            }
            .act-part {
                width:300px;
                height: 64px;
                img {
                    width:100%;
                    height: 100%;
                }
            }
            .menu-part {
                width:300px;
                height: 50px;
                img {
                    width:100% ;
                }
            }
            .phone-bottom {
                width: 300px;
                height: 64px;
                background: url(../../../assets/img/phone_bottom.png) no-repeat center / contain;
            }
            .yz {
                width: 300px;
                background: #fff;
                position: relative;
                margin-bottom: 10px;
                background-repeat: no-repeat;
                background-size: 300px 136px;
                border: 1px solid #fff;
                &:hover {
                    border: 1px dashed #0099FF;
                }
                .add-btn {
                    position: absolute;
                    bottom: -35px;
                    left: 0;
                    button {
                        transform: scale(.3, .3);
                        background: #0099FF;
                        border-radius: 50%;
                        font-size: 40px;
                        color: #fff;
                        margin-left: 120px;
                        margin-top: -60px;
                    }
                    &.isTop {
                        bottom: -45px;
                        z-index: 999;
                    }
                }
                .list-pop {
                    left: 900px;
                }
                .yz-click {
                    button {
                        width: 300px;
                        height: 276px;
                    }
                    width:300px;
                    height: 276px;
                    position: absolute;
                    top:0;
                    left:0;
                    z-index: 2;
                    opacity: 0;
                }
                .yz-click-big {
                    button {
                        width: 300px;
                        height: 368px;
                    }
                    width: 300px;
                    height: 368px;
                    position: absolute;
                    top:0;
                    left:0;
                    z-index: 2;
                    opacity: 0;
                }                
                .img-top {
                    width:100%;
                    height: 200px;
                    object-fit: cover;
                    img {
                        width:100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .img-top-big {
                    width:100%;
                    height: 292px;
                    object-fit: cover;
                    img {
                        width:100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .yz-text {
                    width: 300px;             
                    position: relative;
                    box-sizing: border-box;
                    font-size: 12px;
                    text-align: center;
                    padding-bottom: 10px;
                    color:#bbb;
                    span {
                        position: absolute;
                        font-size: 12px;
                        right:35px;
                        top:15px;
                        border:1px solid #ccc;
                        border-radius: 3px;
                    }                   
                    .tip {
                        display: inline-block;
                        transform: scale(.65,.65);  
                        &:before {
                            content: "!";
                            position: absolute;
                            left: -20px;
                            top: -2px;
                            font-size: 14px;
                            font-weight: bold;
                            text-align: center;
                            width: 18px;
                            height: 18px;
                            line-height: 20px;
                            background: #999;
                            color: #fff;
                            border-radius: 50%;
                            transform: scale(.65,.65);  
                        }                     
                    }
                    .feedback {
                        width:27px;
                        height: 28px;
                        position: absolute;
                        right:5px;
                        top:10px;
                        object-fit: contain;
                    }
                }   
                
            }
            .bot-click {
                    button {
                        width: 300px;
                        height: 83px;
                    }
                    width: 300px;
                    height: 83px;
                    position: absolute;
                    top:0;
                    left:0;
                    z-index: 2;
                    opacity: 0;
                }
                .bot-img {
                    width:300px;
                    height: 83px;
                    position: relative;
                    border:1px solid #fff;
                    margin-bottom: 10px;
                    &:hover {
                        border: 1px dashed #0099FF;
                    }
                    img {
                        width:100%;
                        height: 100%;
                        object-fit: cover;
                    }                             
                }
            .qr {
                width: 300px;
                height: 60px;               
                position: relative;
                text-align: center;
                background-repeat: no-repeat;
                background-size: 300px 204px;
                border: 1px solid #fff;
                overflow: hidden;
                &:hover {
                    border: 1px dashed #0099FF;
                }
                .qr-click {
                    button {
                        width: 300px;
                        height: 60px;
                    }
                    width:300px;
                    height: 60px;
                    position: absolute;
                    bottom:0;
                    left:0;
                    z-index: 2;
                    opacity: 0;
                    
                }  
                img {
                    width:100%;
                    height: 100%;
                    object-fit: cover;
                }              
            }
        }   
        .not {
            .phone {
                float: left;
                margin-right: 45px;
            }
            .tplInfo {
                float: left;
            }
            .phone-top {
                width: 300px;
                height: 66px;
                background: url(../../../assets/img/phone_top.png) no-repeat center / contain;
                .not-title {
                    width: 100%;
                    height: 100%;
                    line-height: 85px;
                    text-align: center;
                    color: #fff;
                    font-size: 14px;
                    position: relative;
                }
                .title-click {
                    width: 300px;
                    height: 66px;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                    opacity: 0;
                    button {
                        width: 300px;
                        height: 66px;
                    }
                }
            }
            .menu-part {
                width:300px;
                height: 50px;
                img {
                    width:100% ;
                }
            }
            .phone-bottom {
                width: 300px;
                height: 64px;
                background: url(../../../assets/img/phone_bottom.png) no-repeat center / contain;
            }
            .not-yz {
                width: 300px;
                height: 215px;
                position: relative;
                margin-bottom: 10px;
                background-repeat: no-repeat;
                background-size: 300px 215px;
                text-align: center;
                border: 1px solid #fff;
                &:hover {
                    border: 1px dashed #0099FF;
                }
                .not-img {
                    width: 68px;
                    height: 69px;
                    margin-top: 60px;
                    margin-bottom: 10px;
                }
                .btn-img {
                    width: 145px;
                    height: 30px;
                    margin-top: 5px;
                }
                .not-yz-click {
                    button {
                        width: 300px;
                        height: 215px;
                    }
                    width:300px;
                    height: 215px;
                    position: absolute;
                    top:0;
                    left:0;
                    z-index: 2;
                    opacity: 0;
                }
                .right {
                    width: 300px;
                    height: 130px;
                    padding-left: 70px;
                    padding-top: 10px;
                }
                .left {
                    width: 57px;
                    height: 110px;
                    position: absolute;
                    left: 10px;
                    top: 10px;
                    background: #fff;
                }
            }
            .not-qr {
                width: 300px;
                height: 204px;
                background: #ccc;
                position: relative;
                text-align: center;
                background-repeat: no-repeat;
                background-size: 300px 204px;
                border: 1px solid #fff;
                overflow: hidden;
                &:hover {
                    border: 1px dashed #0099FF;
                }
                .not-qr-click {
                    button {
                        width: 300px;
                        height: 204px;
                    }
                    width:300px;
                    height: 204px;
                    position: absolute;
                    top:0;
                    left:0;
                    z-index: 2;
                    opacity: 0;
                }
                img {
                    width: 93px;
                    height: 93px;
                    margin-top: 45px;
                }
                span {
                    color: #FF4D51;
                }
            }
        }
    }
    .scan-content {
        border: none;
        /*padding: 10px 10px 10px 10px;
            padding-bottom: 20px;
            background: #fff;
            border-radius: 4px;*/
        color: #666;
        .date-select {
            padding-left: 10px;
        }
        .keyword-input {
            width: 200px;
        }
        .input-btns {
            margin-top: 10px;
        }
    }
}
.save {
    position: absolute;
    bottom:0;
    left: 0;
    width:100%;
    height: 50px;
    background: #fff;
    .save-con {
        display: inline-block;
        margin: 0 auto;
        position: absolute;
        left: 50%;
        top:0;
        margin-left: -97px;
    }
}
