<!doctype html><html lang="zh-CN"><head><meta charset="utf-8"/><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="referrer" content="never"><link rel="shortcut icon" href="#"/><link rel="icon" href="data:image/ico;base64,aWNv"><title>莲年享好韵 赏荷迎新春</title><meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"><audio id="audio" hidden="true" src="https://qrmkt.oss-cn-beijing.aliyuncs.com/common/jihe2021/main.mp3"></audio><style>body {
            overflow-y: scroll!important;
            background-color: #01CFCB;
        }
        *{
            -webkit-touch-callout:none;
            -webkit-user-select:none;
            -khtml-user-select:none;
            -moz-user-select:none;
            -ms-user-select:none;
            user-select:none;
        }
        input , texteare{
            -webkit-user-select:auto;
        }</style><link href="../../css/views/activity/jihe2021/main.bf6bdd7a0ad088ed39fc.css" rel="stylesheet"></head><body><div id="app"></div><div class="hidden" style="display: none"><script type="text/javascript">var images = new Array()
            function preload() {
                for (i = 0; i < preload.arguments.length; i++) {
                    images[i] = new Image()
                    images[i].src = preload.arguments[i]
                }
            }
            preload()</script></div><script src="https://res.wx.qq.com/open/js/jweixin-1.6.0.js"></script><script src="https://qrmkt.oss-cn-beijing.aliyuncs.com/common/WeixinJSBridge.js"></script><script type="text/javascript" src="../../js/manifest.d357293bab5002323d92.js"></script><script type="text/javascript" src="../../js/vendor.5ce4138d5a19adaf8db4.js"></script><script type="text/javascript" src="../../js/views/activity/jihe2021/main.85ca90be4b8f0a4b80a6.js"></script></body></html>