<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="referrer" content="origin-when-cross-origin"><link rel="shortcut icon" href="#"/><link rel="icon" href="data:image/ico;base64,aWNv"><title>荷花盛夏欢享季</title><script src="https://qrmkt.oss-cn-beijing.aliyuncs.com/common/flexible.js"></script><script type="text/javascript"></script></head><style>html, body {
			padding: 0;
			margin: 0;
		}
		.upgrade {
			position: absolute;
			width: 100%;
			top:0;
			left: 0;
		}</style><body><div class="upgrade"><img id="upgrade" src="https://qrmkt.oss-cn-beijing.aliyuncs.com/common/jihe2021/jh-promotion.png" class="upgrade" alt=""/></div><script type="text/javascript" src="../../js/manifest.d357293bab5002323d92.js"></script><script type="text/javascript" src="../../js/vendor.5ce4138d5a19adaf8db4.js"></script></body></html>