<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="referrer" content="origin-when-cross-origin"><link rel="shortcut icon" href="#"/><link rel="icon" href="data:image/ico;base64,aWNv"><meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no"><title>积分商城暂停兑换公告</title></head><body><div class="main"><img class="notice" src="https://qrmkt.oss-cn-beijing.aliyuncs.com/common/scoremall-pause.png" alt=""></div><script type="text/javascript" src="../../js/manifest.d357293bab5002323d92.js"></script><script type="text/javascript" src="../../js/vendor.5ce4138d5a19adaf8db4.js"></script></body><style>body{
    margin: 0;
  }
  .main{
    display: block;
    position:absolute;
    width: 100%;
    overflow-y: scroll;
    height: 100%;
    background-color: #e00911;
  }
  .notice{
    display: block;
    width: 100%;
  }</style></html>