<!doctype html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="referrer" content="origin-when-cross-origin"><title>升级维护中...</title><script src="https://qrmkt.oss-cn-beijing.aliyuncs.com/common/flexible.js"></script><script type="text/javascript">/** 查询请求中的指定参数名称的参数值 */
			function getQueryString(name) {
			    var reg = new RegExp("(?:^|&)" + name + "=([^&]*)(?:&|$)", 'i');
			    var str_arr = window.location.search.substr(1).match(reg);
			    return str_arr != null ? str_arr[1] : null;
			}

			let imgName = "sk-upgrade";
			function init() {
				// 图片名称处理
				let orgId = getQueryString("orgId");
				imgName += orgId ? ("-" + orgId) : "";
				imgName += ".png";
				// 图片地址处理
				let imgUrl = "https://qrmkt.oss-cn-beijing.aliyuncs.com/common/" + imgName;
				// 图片访问参数处理，可以刷新。如果没有时间戳参数，则使用cdn的缓存图片
				let time = getQueryString("time");
				imgUrl += time ? ("?t=" + time) : "";

				document.getElementById("upgrade").src = imgUrl;
			}</script></head><style>html, body {
			padding: 0;
			margin: 0;
		}
		.upgrade {
			width: 100%;
			height: 100%
		}</style><body onload="init()"><div><img id="upgrade" src="" class="upgrade" alt=""/></div><script type="text/javascript" src="../../js/manifest.d357293bab5002323d92.js"></script><script type="text/javascript" src="../../js/vendor.5ce4138d5a19adaf8db4.js"></script></body></html>